.contact-form {
    p {
        width: 50%;
        @include mq(mobile) {
            width: 100%;
        }
    }
}
.contact-form__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px 0 100px 0;
    @include mq(mobile) {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact-form__image {
        display: flex;
        margin: auto;
        max-width: 400px;
        justify-self: center;
    }

    form {
        display: grid;
        gap: 30px;
        .form-group {
            display: grid;
            grid-template-columns: 1fr;
            align-items: top;
            position: relative;

            svg {
                position: absolute;
                bottom: 5px;
                right: 5px;
                font-size: 14px;
                color: #1cc31c;
                transform: translateX(20px);
                opacity: 0;
                pointer-events: none;
                transition: 0.2s ease-in-out;
                &.valid {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }
        }
        input,
        textarea {
            outline: none;
            background: transparent;
            color: white;
            font-size: 20px;
            padding: 5px;
            &:focus {
                background-color: rgba(242, 173, 13, 0.1);
            }
        }
        input {
            border: none;
            border-bottom: 1px solid var(--primary);
            border-radius: 0;
        }
        textarea {
            margin-top: 30px;
            padding: 10px;
            border: 1px solid var(--primary) !important;
            border-radius: 5px;
        }
        button {
            margin-left: auto;
        }
        .form-error {
            color: white;
            background: darkred;
            padding: 5px 20px;
            border-radius: 5px;
            text-align: center;
            font-size: 17px;
        }
    }
}

.emailsent {
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
        max-width: 200px;
    }
    &__message {
        color: var(--primary);
        font-size: 20px;
    }
}
