.footer {
    background: rgba(black, 0.1);
    padding-block: 30px;
    border-top: 1px solid rgb(255 255 255 / 6%);
    @include mq(mobile) {
        padding-bottom: 80px;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 50px;
        @include mq(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    &__column {
        display: grid;
        grid-gap: 20px;
        place-items: center;
        text-align: center;
        &__title {
            font-family: var(--title-font);
            text-transform: uppercase;
            color: white;
            font-size: 20px;
            line-height: 1;
        }
        &__icon {
            width: 50px;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--primary);
            svg {
                color: white;
                transform: scale(1);
                transition: 0.3s;
            }
            &:hover svg {
                transform: scale(1.3);
            }
        }
        &__links {
            margin-block: 6px;
            li {
                line-height: 1;
                margin-bottom: 5px;
            }
            &__description {
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 16px;
            }
        }
    }
    &__socials {
        margin-top: 15px;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        a {
            color: var(--primary);
            scale: 1;
            &:hover {
                color: white;
                scale: 1.2;
                transition: 0.25s;
            }
        }
    }
}
