header {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .site-logo {
        .logo-image {
            padding-top: 5px;
            opacity: 0;
            display: inline-block;
        }
        .site-name {
            opacity: 0;
        }
        a {
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 25px;
            font-family: var(--title-font);
            color: white !important;
        }
    }
    nav {
        margin-top: 5px;
        @include mq(mobile) {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #172a37;
            z-index: 999;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding-block: 10px;
            border-top: 1px solid rgb(white, 0.08);
            border-radius: 3px 3px 0 0;
        }
    }
}
