.prestations {
    &__lead {
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 50px;
        align-items: center;
        @include mq(tablet) {
            gap: 20px;
        }
        @include mq(mobile) {
            grid-template-columns: 1fr;
            place-items: center;
            &__image {
                display: none;
            }
        }
    }
    &__hero {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;

        background: var(--primary);
        color: var(--secondary);

        svg {
            font-size: 50px;
        }

        &__row {
            display: flex;
            align-items: center;
            gap: 20px;
            background: rgba(242, 173, 13, 0.05);
            padding: 1vw;
            border-radius: 10px;
            & > * {
                display: flex;
            }
        }
        @include mq(mobile) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin: 110px 0;
        padding-inline: 2vw;
        @include mq(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include mq(mobile) {
            grid-template-columns: 1fr;
        }
    }
    &__pack {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        transform: translateY(100px);
        border: 1px solid rgb(74 104 127 / 12%);
        background-color: rgba(white, 0.02);
        opacity: 0;
        transition: background-color 0.3s;

        &:hover {
            background-color: rgba(white, 0.05);
        }

        &:after {
            content: '';
            position: absolute;
            top: 10px;
            right: 0;
            width: 2px;
            height: 50px;
            background-color: var(--primary);
        }

        h2 {
            color: var(--primary);
            letter-spacing: 2px;
            text-transform: uppercase;
            font-size: 20px;
            font-family: var(--title-font);
            margin-bottom: 0;
            padding: 20px 15px 10px 15px;
        }
        &__details,
        &__include {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 15px;
            li {
                display: grid;
                grid-template-columns: 1em 1fr;
                gap: 10px;
                svg {
                    color: white;
                    font-size: 12px;
                    transform: translateY(4px);
                }
                span {
                    line-height: 1;
                    font-size: 17px;
                }
            }
        }
        &__details {
            flex-grow: 1;
        }
        &__include {
            background-color: rgba(white, 0.03);
            border-radius: 0 0 9px 9px;
            margin-bottom: 0;
            li {
                svg {
                    color: var(--primary);
                }
            }
        }
    }
}

.prestations-description {
    min-height: 680px;
    @include mq(mobile) {
        min-height: 100%;
    }
    h2 {
        text-align: center;
        padding: 20px 0 50px 0;
        @include mq(mobile) {
            padding-bottom: 20px;
            margin-bottom: 0;
        }
    }
    .svg-wrapper {
        position: relative;
        max-width: 1030px;
        margin: auto;

        @include mq(mobile) {
            max-width: 600px;
        }
        svg {
            position: absolute;
            top: -140px;
            left: 0;
            pointer-events: none;
            @include mq(mobile) {
                position: static;
            }
        }
    }
    .prestations-top-content {
        // padding-left: clamp(50px, 13% + 12vw, 440px);
        padding-left: 30%;
        position: relative;
        @include mq(tablet) {
            padding-left: calc(22%);
            max-width: 730px;
        }
        @include mq(mobile) {
            padding-left: 0;
        }
        // padding-top: 80px;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: calc(30% - 30px);
            width: 2px;
            height: 100%;
            background: var(--primary);
            border-radius: 10px;

            @include mq(tablet) {
                content: none;
            }
        }
    }
}

.prestations-tools {
    padding-left: 100px;
    padding-bottom: 70px;
    max-width: 930px;

    @include mq(tablet) {
        padding-left: 0;
        max-width: 80%;
    }

    @include mq(mobile) {
        max-width: 100%;
    }

    h3 {
        text-align: center;
        color: white;
        margin-bottom: 40px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        background: hsl(42deg 90% 50% / 5%);
        padding: 2vw;
        border-radius: 10px;

        @include mq(mobile) {
            justify-content: center;
        }

        .tool-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            gap: 5px;
            width: 100px;

            &-name {
                text-transform: uppercase;
                font-size: 16px;
                color: white;
            }
            img {
                object-fit: contain;
            }
        }
    }
}
